/* .image-box {
    width: 50%;
    height: 50%;
} */

/* h1 {
  color: #333;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: large;
  padding: 20px 30px 5px 30px;
  background: #fff;
  margin: 0;
  position: relative;
  perspective: 100px;
  z-index: 10;
  perspective-origin: 50% 50%;
  box-shadow: 
    -10px 0 #000000,
    0 -10px #000000,
    10px 0 #000000,
    0 10px #000000;
  
  
} */


* {
  font-family: "Pixelify Sans", sans-serif;
}


#bubble {
  opacity: 1.0;
  display: inline-block;
  max-width: 700px;

  top: 50%;
  left:50%;
  box-shadow: 
    -20px 0 #333,
    0 -20px #333,
    20px 0 #333,
    0 20px #333,
    -10px -10px #333,
    -10px 10px #333,
    10px 10px #333,
    10px -10px #333,
    10px 30px 20px rgba(#333, 0.7);

}

.p {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 25px;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  margin: 10px o;
  animation: typing 1.5s steps(60, end);
}

.p:nth-child(2) {
  animation: typing-2 3.5s steps(60, end);
}
.p:nth-child(3) {
  animation: typing-2 5.5s steps(60, end);
}
.p:nth-child(4) {
  animation: typing-2 8s steps(60, end);
}

@keyframes typing {
  from{width: 0;}
}

@keyframes typing-2 {
  0% {width: 0;}
  50% {width: 0;}
  100% {width: 100;}
}
@keyframes typing-3 {
  0% {width: 0;}
  50% {width: 0;}
  100% {width: 100;}
}
@keyframes typing-4 {
  0% {width: 0;}
  50% {width: 0;}
  100% {width: 100;}
}

@keyframes blink {
  to {opacity: .0;}
}

.cursor {
  animation: blink is infinite;
}

#root {
  height: 100vh;  /* The height of the root element is 100% of the viewport height */
  background: linear-gradient(0deg, #fda065, #4f535e); /* New gradient direction and colors */
  background-size: 400% 400%; /* Updated size */
  animation: AnimationName 22s ease infinite; /* New animation details */
}

/* Standard syntax */
@keyframes AnimationName {
  0% { background-position: 47% 0%; }
  50% { background-position: 54% 100%; }
  100% { background-position: 47% 0%; }
}

/* Firefox */
@-moz-keyframes AnimationName {
  0% { background-position: 47% 0%; }
  50% { background-position: 54% 100%; }
  100% { background-position: 47% 0%; }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes AnimationName {
  0% { background-position: 47% 0%; }
  50% { background-position: 54% 100%; }
  100% { background-position: 47% 0%; }
}

.rounded-map {
  border-radius: 20px;
  overflow: hidden;
}

.image-container {
  margin: auto;
  display: flex;
}
/* #quote {
  color: #25fd01;
  font: 400 2em consolas;
  width: 50ch;
  overflow: hidden;
  white-space: nowrap;
  animation: type 5s steps(50) infinite;
  
}

@keyframes type {
  0% {
    width: 0;
  }
} */

.container {
  transform: translate(0%,0%);
}

.btn {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 25px;
  width: 150px;
  height: 40px;
  background: #fc9802;
  border: 0px;
  position: relative;
  box-shadow: 
    inset -4px 2px 1px 1px grey,
    inset -4px -2px 1px 1px lightgray,
    inset 4px 0px 1px 1px lightgray;   
}

.btn:hover {
  cursor: pointer;
	background-color: #fc7b02;
}

.btn:active {
  top: 5px;
  box-shadow: 
    -4px 2px 1px 1px grey,
    -4px -2px 1px 1px lightgray,
    4px 0px 1px 1px lightgray; 
}

.btn::after {
  content: '';
  background: black;
  position: absolute;
  left: -2.5%;
  top: 0;
  width: 105%;
  height: 100%;
  z-index: -1;
}

.btn::before {
  content: '';
  background: black;
  position: absolute;
  left: 0;
  top: -5%;
  width: 100%;
  height: 113%;
  z-index: -1;
}

